/* 
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Where normal styles apply
1800px + :      Big desktop 

$breakpoint argument choices 
- phone 
- tab-port 
- tab-land 
- big-desktop 

ORDER: Base + typography > general layout + grid > page layout > components 

1 rem = 16px
*/
/* Animation Parameters: */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    color: #cbeff8;
    transform: translatex(10rem);
  }
  100% {
    opacity: 1;
    translate: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translatex(-1rem);
    color: #cbeff8;
  }
  100% {
    opacity: 1;
    translate: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Inherits from body */
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 4.5rem;
}

.home-container {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 217, 0, 0.9),
      rgba(255, 0, 0, 0.9)
    ),
    url("./images/cod-vert2.jpeg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  margin-top: 2rem;
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  animation: moveInLeft 1s ease-out;
}

.weekly-tournaments {
    margin-top: 30rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

#team-size {
  font-size: 5px;
}

#rank {
  font-size: 2rem;
}

#dateTimeLabel {
  font-size: 3rem;
  display: block;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  width: 18rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 2.6rem;
  display: inline-block;
  margin: 5rem;
  width: 30rem;
  opacity: 0.7;
}
@media (max-width: 37.5em) {
  .btn:link,
  .btn:visited {
    margin: 2rem;
  }
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*Ensures this element is behind the button*/
  transition: all 0.3s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.header {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 145, 0, 0.9),
      rgba(255, 0, 0, 0.9)
    ),
    url("./images/cod-vert2.jpeg");
  background-blend-mode: saturation;
}

.header__logo {
  height: 5rem;
}

body {
  background-color: black;
}

.form-box {
  position: relative;
}

.form {
  padding-top: 2rem;
  font-size: 5rem;
  text-align: center;
  position: relative;
  color: #fff;
}
@media (max-width: 37.5em) {
  .form {
    font-size: 3rem;
  }
}
.form h1 {
  font-size: 3rem;
  padding-top: 2rem;
}
.form h3 {
  text-transform: uppercase;
  font-size: 4rem;
}

.form-box {
  padding: 0;
}

.info-block {
  padding-top: 10rem;
  font-size: 3rem;
}

#teamSize {
  font-size: 2rem;
}

#payment {
  padding: 0.5rem;
  margin-top: 1rem;
}

#payment,
#teamSize,
#rank,
.time-slot-h5,
.sign-up-h1 {
  border-radius: 1rem;
  opacity: 0.8;
}

#rank {
  margin-top: -5rem;
}

#tm-1,
#tm-2,
#tm-3,
#tm-4 {
  padding-top: 3rem;
}

.h1 {
  padding-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .h1 {
    padding-bottom: 0;
  }
}

.team-name,
.team-email,
.team-name {
  padding: 1rem 0;
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="number"],
input[type="time"] {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 2px;
  width: 22rem;
  opacity: 0.8;
  text-align: center;
}
@media (max-width: 37.5em) {
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="number"],
  input[type="time"] {
    padding: 3px;
    margin: 2px;
    width: 50vw;
  }
}

#next-stepa {
  padding: 0 2rem 0 2rem;
  display: inline;
}

#team-registration {
  line-height: 3rem;
}

#form-submit {
  background-color: white;
  width: 25rem;
  height: 5rem;
  color: #333;
  text-align: center;
  padding-top: .5rem;
  border-radius: 2px;
  font-size: 3rem;
  display: block;
  margin: 3rem auto;
}

.submission-code input {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  width: 16rem;
}

#submission-code {
  width: 25rem;
  font-size: 2rem;
}

#teamSize,
#rank {
  padding: 0.5rem;
  margin-top: 5rem;
}

#rank {
  width: 10rem;
}

#team-registration {
  height: 200vh;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 29, 0, 0.9),
      rgba(0, 242, 255, 0.9)
    ),
    url("./images/cod-background.jpg");
  background-blend-mode: color-burn;
  background-attachment: fixed;
}

@media (max-width: 37.5em) {
  .button-box {
    margin-top: -2rem;
  }
}

.button-box-1 {
  margin-top: 5rem;
}
@media (max-width: 37.5em) {
  .button-box-1 {
    margin: 2rem 0 5rem 0;
  }
}

.form-container {
  background-color: orangered;
  margin: 1rem;
  height: 100vh;
}

.info-block {
  font-size: 2rem;
  padding-top: 1rem;
}
.info-block .h1 {
  color: #fff;
  font-weight: bolder;
}

/* @media (min-width: 56.25em) {
  .info-block {
    font-size: 3rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
  }
} */

.hidden {
  display: none;
}

.card-2 {
  text-align: center;
  margin-top: -4rem;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 217, 0, 0.9),
      rgba(255, 0, 0, 0.9)
    ),
    url("./images/cod-vert2.jpeg");
  background-blend-mode: darken;
}
@media (max-width: 37.5em) {
  .card-2 {
    line-height: 3rem;
    font-size: 1rem;
  }
}
@media (max-width: 37.5em) {
  .card-2 .h1 {
    font-weight: lighter;
  }
}

@media (max-width: 37.5em) {
  #code-submit {
    padding: 0 2rem 0 2rem;
  }
}

.time-slot-h5 {
  padding-bottom: 4rem;
}

#dateTimeLabel {
  margin-bottom: 2rem;
}

.table-container {
  height: 100vh;
}

.content-table {
  border-collapse: collapse;
  font-size: 1.9rem;
  min-width: 400px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

.content-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #55b4c5;
}


/* Rules section */
.rules-container {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 217, 0, 0.9),
        rgba(255, 0, 0, 0.9)
        ),
        url("./images/cod-vert2.jpeg");
        background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.719);
  background-attachment: fixed;
  min-width: 550px;
}

.rule-header {
    font-size: 5rem;
    padding-top: 5rem;
}
.rules-text {
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 5rem;
    text-align: center;
}


/* Make rules look good on phone */
@media screen and (max-width: 500px) {
    .rules-text, .rule-header {
        font-size: 2rem;
        max-width: 400px;
        line-height: 3.5rem;
    }
}



.rule-textbox {
  min-width: 400px;
  text-align: center;
  color: white;
}

.table-title {
    font-size: 2.5rem;
    margin: 2rem;
}

th {
    text-align: center;
}

.payment-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 217, 0, 0.9),
      rgba(255, 0, 0, 0.9)
    ),
    url("./images/cod-vert2.jpeg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.team-search-form {
  padding-top: 5rem;
  font-size: 2rem;
  text-align: center;
  position: relative;
  color: #fff;
}

/* Error Messages */
.message-container {
    line-height: 5.5rem;
    font-size: 3rem;
}

/* Paypal button */
.paypal-container {
    display: grid;
    justify-content: center;
    margin-top: 5rem;
}

.paypal {
    width: 100%;
}

/* Look up team */
#team-lookup {
    padding-top: 2rem;
}

/* Score submission */
#score-submission { 
    height: 200vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 217, 0, 0.9),
      rgba(255, 0, 0, 0.9)
    ),
    url("./images/cod-vert2.jpeg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dropdown button shinanigans */
/* .time-slot-container {
    width: 22rem;
    margin: 0 auto;
    height: 22rem;
} */

.time-slot-button {
    width: 22rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.time-slot {
    width: 22rem;
    padding: 1rem;
}
 

.time-slot-options {
    width: 22rem;
    margin: 0 auto;
    height: 20rem;
    overflow: scroll;
    display: none;
    border-radius: 1rem;
}

/* Dropdown menu appears */
.dropdown-container:hover .time-slot-options {
    display: block;
}

.time-slot:active {
    background:rgba(0, 242, 255, 0.9);
}

.hidden {
    display: none;
}

